.Rproj.user
.Rhistory
.RData
.Ruserdata
mica-cameratraps.Rproj
input/Europa_landen_WGS1984.cpg
input/Europa_landen_WGS1984.dbf
input/Europa_landen_WGS1984.prj
input/Europa_landen_WGS1984.sbn
input/Europa_landen_WGS1984.sbx
input/Europa_landen_WGS1984.shp
input/Europa_landen_WGS1984.shp.xml
input/Europa_landen_WGS1984.shx
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221003133718/datapackage.json
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221003133718/deployments.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221003133718/media.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221003133718/observations.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221012105236/datapackage.json
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221012105236/deployments.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221012105236/media.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20221012105236/observations.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230208075019/datapackage.json
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230208075019/deployments.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230208075019/media.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230208075019/observations.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230306142500/datapackage.json
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230306142500/deployments.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230306142500/media.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230306142500/observations.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230601061026/datapackage.json
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230601061026/deployments.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230601061026/media.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230601061026/observations.csv
input/mica-management-of-invasive-coypu-and-muskrat-in-europe-20230710120748/media.csv
input/mica-muskrat-and-coypu-20210601121907/datapackage.json
input/mica-muskrat-and-coypu-20210601121907/deployments.csv
input/mica-muskrat-and-coypu-20210601121907/multimedia.csv
input/mica-muskrat-and-coypu-20210601121907/observations.csv
input/mica-muskrat-and-coypu-20210707160815/datapackage.json
input/mica-muskrat-and-coypu-20210707160815/deployments.csv
input/mica-muskrat-and-coypu-20210707160815/multimedia.csv
input/mica-muskrat-and-coypu-20210707160815/observations.csv
input/mica-muskrat-and-coypu-20210811075753/datapackage.json
input/mica-muskrat-and-coypu-20210811075753/deployments.csv
input/mica-muskrat-and-coypu-20210811075753/multimedia.csv
input/mica-muskrat-and-coypu-20210811075753/observations.csv
input/mica-muskrat-and-coypu-20210923082632/datapackage.json
input/mica-muskrat-and-coypu-20210923082632/deployments.csv
input/mica-muskrat-and-coypu-20210923082632/multimedia.csv
input/mica-muskrat-and-coypu-20210923082632/observations.csv
input/mica-muskrat-and-coypu-20211103131449/datapackage.json
input/mica-muskrat-and-coypu-20211103131449/deployments.csv
input/mica-muskrat-and-coypu-20211103131449/media.csv
input/mica-muskrat-and-coypu-20211103131449/observations.csv
input/mica-muskrat-and-coypu-20220103125023/datapackage.json
input/mica-muskrat-and-coypu-20220103125023/deployments.csv
input/mica-muskrat-and-coypu-20220103125023/media.csv
input/mica-muskrat-and-coypu-20220103125023/observations.csv
input/mica-muskrat-and-coypu-20220131140731/datapackage.json
input/mica-muskrat-and-coypu-20220131140731/deployments.csv
input/mica-muskrat-and-coypu-20220131140731/media.csv
input/mica-muskrat-and-coypu-20220131140731/observations.csv
input/mica-muskrat-and-coypu-20220614122226/datapackage.json
input/mica-muskrat-and-coypu-20220614122226/deployments.csv
input/mica-muskrat-and-coypu-20220614122226/media.csv
input/mica-muskrat-and-coypu-20220614122226/observations.csv
input/mica-muskrat-and-coypu-20220826064114/datapackage.json
input/mica-muskrat-and-coypu-20220826064114/deployments.csv
input/mica-muskrat-and-coypu-20220826064114/media.csv
input/mica-muskrat-and-coypu-20220826064114/observations.csv
