.Rproj.user
.Rhistory
.RData
.Ruserdata
mica-cameratraps.Rproj
input/Europa_landen_WGS1984.cpg
input/Europa_landen_WGS1984.dbf
input/Europa_landen_WGS1984.prj
input/Europa_landen_WGS1984.sbn
input/Europa_landen_WGS1984.sbx
input/Europa_landen_WGS1984.shp
input/Europa_landen_WGS1984.shp.xml
input/Europa_landen_WGS1984.shx
